<section>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center">Add Product</h2>
        <form action="/admin/add-product" method="POST" enctype="multipart/form-data">
          <label for="">Name</label>
          <input type="text" name="Name" class="form-control" />

          {{! <label for="">Category</label>
          <input type="text" name="Category" class="form-control" /> }}
          <label for="" class="mt-2">Category</label><br />
          <select class="form-select" aria-label="Default select example" name="Category">
            {{!-- <option selected></option> --}}
            {{#each category}}
            <option value="{{this.Name}}">{{this.Name}}</option>
            {{/each}}
          </select>
          <br />

          <label for="">Price</label>
          <input type="number" name="Price" class="form-control" />
          <label for="">Stock</label>
          <input type="number" name="Stock" class="form-control" />
          <label for="">Size</label>
          <select class="form-select " aria-label="Default select example" name="Size">
            {{!-- <option selected></option> --}}
            <option value="All">All</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
          </select>
          <label for="">Description</label>
          <input type="text" name="Description" class="form-control" />

          <label for="">Image</label>
          <input type="file" name="Image" id="formFile" class="form-control" multiple>
          {{#if failed}}
          <p class="text-danger">{{failed}}</p>
          {{else}}
          {{#if success}}
          <p class="text-success">{{success}}</p>
          {{/if}}
          {{/if}}
          <button type="submit" class="btn btn-success mt-2">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
 <section>
  <div class="container">
    <table class="table mt-5" id="productTable">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th>Image</th>
          <th scope="col">Action</th>
          <th> </th>
        </tr>
      </thead>
      <tbody class="">
        {{#each product}}
          <tr>
            {{! <th scope="row"></th> }}
            <td>{{@index}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.Category}}</td>
            <td><img
                src="/images/{{this.img.[0]}}"
                alt=""
                style="width: 90px; height: 80px;"
              />
            </td>
            <td><a
                href="/admin/view-product?id={{this._id}}"
                class="btn btn-warning btn-sm"
              >View</a>
              <a
                href="/admin/edit-product?id={{this._id}}"
                class="btn btn-primary btn-sm"
              >Edit</a>
              <a
                href="/admin/delete-product?id={{this._id}}"
                class="btn btn-danger btn-sm"
                onclick="return confirm('Want to delete: {{this.Name}}?')"
              >Delete</a>
            </td>
          </tr>
        {{/each}}

      </tbody>
    </table>
  </div>
</section>