 {{> admin-header}}
 <section>
  <div class="container">
    <table class="table mt-5" id="productTable">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th>Image</th>
          <th scope="col">Action</th>
          <th> </th>
        </tr>
      </thead>
      <tbody class="">
        {{#each product}}
          <tr>
            {{! <th scope="row"></th> }}
            <td>{{@index}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.Category}}</td>
            <td><img
                src="/images/{{this.img.[0]}}"
                alt=""
                style="width: 90px; height: 80px;"
              />
            </td>
            <td><a
                href="/admin/view-product?id={{this._id}}"
                class="btn btn-warning btn-sm"
              >View</a>
              <a
                href="/admin/edit-product?id={{this._id}}"
                class="btn btn-primary btn-sm"
              >Edit</a>
              <a
                href="/admin/delete-product?id={{this._id}}"
                class="btn btn-danger btn-sm"
                onclick="return confirm('Want to delete: {{this.Name}}?')"
              >Delete</a>
            </td>
          </tr>
        {{/each}}

      </tbody>
    </table>
  </div>
</section>