<header id="header">
  <div class="header-banner">

  </div>
  <nav class="header-nav" style="background-color: red;">
    <div class="container">
      <div class="hidden-md-down">
        <div id="_desktop_language_selector">
          <div class="language-selector-wrapper selector-block hidden-md-down">
            <span id="language-selector-label" class=" selector-label hidden-lg-down">Language :</span>
            <div class="language-selector localiz_block  dropdown js-dropdown">
              <button data-toggle="dropdown" class=" btn-unstyle" aria-haspopup="true" aria-expanded="false"
                aria-label="Language dropdown">
                <img src="http://demo.posthemes.com/pos_ecolife_fashion/img/l/1.jpg" alt="" width="16" height="11" />
                <span class="expand-more">English</span>
                <i class="material-icons">expand_more</i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="language-selector-label">
                <li class="current">
                  <a href="index.html" class="dropdown-item"><img
                      src="http://demo.posthemes.com/pos_ecolife_fashion/img/l/1.jpg" alt="" width="16"
                      height="11" />English</a>
                </li>
                <li>
                  <a href="http://demo.posthemes.com/pos_ecolife_fashion/fr/" class="dropdown-item"><img src="" alt=""
                      width="16" height="11" />Malayalam</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="language-selector-wrapper hidden-lg-up">
            <div class="selector-mobile dropdown js-dropdown">
              <button data-toggle="dropdown" class=" btn-unstyle" aria-haspopup="true" aria-expanded="false"
                aria-label="Language dropdown">
                <img src="http://demo.posthemes.com/pos_ecolife_fashion/img/l/1.jpg" alt="" width="16" height="11" />
                <span class="expand-more">English</span>
                <i class="material-icons">expand_more</i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="language-selector-label">
                <li class="current">
                  <a href="index.html" class="dropdown-item"><img
                      src="http://demo.posthemes.com/pos_ecolife_fashion/img/l/1.jpg" alt="" width="16"
                      height="11" />English</a>
                </li>
                <li>
                  <a href="http://demo.posthemes.com/pos_ecolife_fashion/fr/" class="dropdown-item"><img
                      src="http://demo.posthemes.com/pos_ecolife_fashion/img/l/2.jpg" alt="" width="16"
                      height="11" />Français</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="_desktop_currency_selector">
          <div class="currency-selector-wrapper selector-block hidden-md-down">
            <span id="currency-selector-label" class=" selector-label hidden-lg-down">Currency :</span>
            <div class="currency-selector localiz_block dropdown js-dropdown">
              <button data-target="#" data-toggle="dropdown" class=" btn-unstyle" aria-haspopup="true"
                aria-expanded="false" aria-label="Currency dropdown">
                <span class="expand-more _gray-darker">INR ₹</span>
                <i class="material-icons">expand_more</i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="currency-selector-label">
                <li>
                  <a title="Euro" rel="nofollow" href="index6edc.html?SubmitCurrency=1&amp;id_currency=2"
                    class="dropdown-item">INR ₹</a>
                </li>
                <li class="current">
                  <a title="US Dollar" rel="nofollow" href="indexe3c8.html?SubmitCurrency=1&amp;id_currency=1"
                    class="dropdown-item">USD $</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="currency-selector-wrapper hidden-lg-up">
            <div class="selector-mobile dropdown js-dropdown">
              <button data-target="#" data-toggle="dropdown" class=" btn-unstyle" aria-haspopup="true"
                aria-expanded="false" aria-label="Currency dropdown">
                <span class="expand-more _gray-darker">USD $</span>
                <i class="material-icons">expand_more</i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="currency-selector-label">
                <li>
                  <a title="Euro" rel="nofollow" href="index6edc.html?SubmitCurrency=1&amp;id_currency=2"
                    class="dropdown-item">EUR €</a>
                </li>
                <li class="current">
                  <a title="US Dollar" rel="nofollow" href="indexe3c8.html?SubmitCurrency=1&amp;id_currency=1"
                    class="dropdown-item">USD $</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="_desktop_user_info">
          <div class="user-info-block selector-block">
            <div class="currency-selector localiz_block dropdown js-dropdown">
              <button data-target="#" data-toggle="dropdown" class=" btn-unstyle hidden-md-down">
                <span class="expand-more">Setting</span>
                <i class="material-icons">expand_more</i>
              </button>
              <button data-target="#" data-toggle="dropdown" class=" btn-unstyle hidden-lg-up">
                <i class="ion-ios-contact"></i>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a href="loginfd9a.html" rel="nofollow" class="dropdown-item">My account</a>
                </li>
                <li>
                <li>
                  <a href="/cart" class="dropdown-item">Checkout</a>
                </li>
                <li>
                  {{#if user}}
                  <a href="/" title="Log in to your customer account" rel="nofollow" class="dropdown-item">
                    <span>Sign Out</span>
                    {{else}}
                    <a href="/" title="Log in to your customer account" rel="nofollow" class="dropdown-item">
                      <span>Sign in</span>
                      {{/if}}
                    </a>
                </li>
              </ul>
            </div>
          </div>

        </div>
        <div id="_desktop_static">
          <div class="static-nav">Free Shipment From 100 Eur (EU) <a href="#">Learn More</a></div>
        </div>

      </div>
    </div>
    <div class="container">
      <div class="hidden-lg-up  mobile">
        <div id="_mobile_static"></div>
        <div class="row row-mobile">
          <div class="col-mobile col-md-4 col-xs-4">
            <div class="float-xs-left" id="menu-icon">
              <i class="ion-android-menu"></i>
            </div>
            <div id="mobile_top_menu_wrapper" class="row hidden-lg-up" style="display:none;">
              <div class="top-header-mobile">
                <div id="_mobile_compare"></div>
                <div id="_mobile_wishtlist"></div>
              </div>
              <div id="_mobile_currency_selector"></div>
              <div id="_mobile_language_selector"></div>
              <div class="menu-close">
                menu <i class="material-icons float-xs-right">arrow_back</i>
              </div>
              <div class="menu-tabs">
                <div class="js-top-menu-bottom">
                  <div id="_mobile_megamenu"></div>

                </div>

              </div>
            </div>
          </div>
          <div class="col-mobile col-md-4 col-xs-4 mobile-center">
            <div class="top-logo" id="_mobile_logo"></div>
          </div>
          <div class="col-mobile col-md-4 col-xs-4 mobile-right">
            <div id="_mobile_cart_block"></div>
            <div id="_mobile_user_info"></div>
          </div>
        </div>
        <div id="_mobile_search_category"></div>
      </div>
    </div>
  </nav>
  <div class="header-top top_bg hidden-md-down">
    <div class="container">
      <div class="row">
        <div class=" col col-md-4 col-sm-12">
        </div>
        <div class="col col col-md-4" id="_desktop_logo">
          <a href="/">
            <img class="logo img-responsive" src="/Logo/Logo2.svg" alt="Sparkle in "
              style="width: 350px; height: 150px;">
          </a>
        </div>
        <div class=" col col-md-4 col-sm-12 position-static">

          <div id="_desktop_cart_block">
            <div class="blockcart cart-preview"
              data-refresh-url="//demo.posthemes.com/pos_ecolife_fashion/en/module/ps_shoppingcart/ajax"
              data-cartitems="0">
              <div class="button_cart">
                <a rel="nofollow" href="/cart" class="desktop hidden-md-down">
                  <span class="item_count" id="carrt-count">{{cartCount}}</span>
                  <span></span>
                  {{#if user}}
                  <span class="item_total">Hi {{name}}</span>
                  {{else}}
                  <span>Please Login</span>
                  {{/if}}
                </a>
                <a rel="nofollow" href="/cart" class="mobile hidden-lg-up">
                  <span class="item_count">0</span>
                </a>
              </div>
              {{#if user}}
              <div class="btn btn-warning rounded">
                <a href="/logout">Logout</a>
                {{else}}
                <div class="btn btn-warning rounded button_cart">
                  <a href="/user-login">Login</a>
                  {{/if}}
                </div>
                <div class="popup_cart">
                  <div class="content-cart">
                    <div class="mini_cart_arrow"></div>
                    <ul>
                    </ul>
                    <div class="price_content">
                      <div class="cart-subtotals">
                        <div class="products price_inline">
                          <span class="label">Subtotal</span>
                          <span class="value">$0.00</span>
                        </div>
                        <div class=" price_inline">
                          <span class="label"></span>
                          <span class="value"></span>
                        </div>
                        <div class="shipping price_inline">
                          <span class="label">Shipping</span>
                          <span class="value">Free</span>
                        </div>
                        <div class="tax price_inline">
                          <span class="label">Taxes</span>
                          <span class="value">$0.00</span>
                        </div>
                      </div>
                      <div class="cart-total price_inline">
                        <span class="label">Total</span>
                        <span class="value">$0.00</span>
                      </div>
                    </div>
                    <div class="checkout">
                      <a href="/cart" class="btn btn-primary">Checkout</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <script type="text/javascript">
              var wishlistProductsIds = '';
              var baseDir = 'http://demo.posthemes.com/pos_ecolife_fashion/';
              var static_token = '203b2fb46b107eabda9dd64ae8ebc173';
              var isLogged = '0';
              var loggin_required = 'You must be logged in to manage your wishlist.';
              var added_to_wishlist = 'The product was successfully added to your wishlist.';
              var mywishlist_url = 'login3d1e.html';
              var isLoggedWishlist = false;
            </script>
            <div id="_desktop_wishtlist">
              <div class="wishtlist_top">
                <a class="" href="">
                  <i class="fa-regular fa-heart"></i>
                  (<span class="cart-wishlist-number">0</span>)
                </a>
              </div>
            </div>
            <div id="_desktop_compare">
              <div class="compare_top">
                <a href="/user-profile">
                  <i class="fa-regular fa-user"></i><span>Profile </span>
                </a>
              </div>
            </div>

            <script type="text/javascript">
              var baseDir = 'http://demo.posthemes.com/pos_ecolife_fashion/'; 
            </script>
            <!-- pos search module TOP -->
            <div id="_desktop_search_category">
              <div class="dropdown js-dropdown">
                <span class="search-icon" data-toggle="dropdown"><i class="ion-ios-search-strong"></i></span>
                <div id="pos_search_top" class="dropdown-menu">
                  <form method="get" action="http://demo.posthemes.com/pos_ecolife_fashion/en/search" id="searchbox"
                    class="form-inline form_search "
                    data-search-controller-url="/pos_ecolife_fashion/modules/possearchproducts/SearchProducts.php">
                    <label for="pos_query_top">
                      <!-- image on background -->
                    </label>
                    <input type="hidden" name="controller" value="search">
                    <div class="pos_search form-group">

                    </div>
                    <input type="text" name="s" value="" placeholder="Enter your search key ... " id="pos_query_top"
                      class="search_query form-control ac_input">
                    <button type="submit" class="btn btn-default search_submit">
                      <i class="ion-ios-search-strong"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>

            <!-- /pos search module TOP -->

          </div>

        </div>
      </div>

    </div>
    <div class="header-bottom">
      <div class="container">
        <div id="_desktop_megamenu" class="use-sticky ">
          <div class="pos-menu-horizontal">
            <ul class="menu-content">

              <li class=" menu-item menu-item1   ">

                <a href="/">

                  <span>Home</span>
                </a>
              </li>

              <li class=" menu-item menu-item31  hasChild ">

                <a href="12-fashion.html">

                  <span>Fashion</span>
                  <i class="hidden-md-down ion-ios-arrow-down"></i> </a>

                <span class="icon-drop-mobile"><i class="material-icons add">add </i><i
                    class="material-icons remove">remove </i></span>
                <div class="pos-sub-menu menu-dropdown col-xs-12 col-sm-12  menu_slidedown">
                  <div class="pos-sub-inner">
                    <div class="pos-menu-row row ">
                      <div class="pos-menu-col col-xs-6 col-sm-3  ">
                        <ul class="ul-column ">
                          <li class="submenu-item ">
                            <a href="13-hot-categories.html">Hot Categories</a>
                            <span class="icon-drop-mobile"><i class="material-icons add">add </i><i
                                class="material-icons remove">remove </i></span>
                            <ul class="category-sub-menu">
                              <li>
                                <a href="19-dresses.html">Dresses</a>
                              </li>
                              <li>
                                <a href="20-jackets-coats.html">Jackets &amp; Coats</a>
                              </li>
                              <li>
                                <a href="21-sweaters.html">Sweaters</a>
                              </li>
                              <li>
                                <a href="22-jeans.html">Jeans</a>
                              </li>
                              <li>
                                <a href="23-blouses-shirts.html">Blouses &amp; Shirts</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <div class="pos-menu-col col-xs-6 col-sm-3  ">
                        <ul class="ul-column ">
                          <li class="submenu-item ">
                            <a href="14-outerwear-jackets.html">Outerwear &amp; Jackets</a>
                            <span class="icon-drop-mobile"><i class="material-icons add">add </i><i
                                class="material-icons remove">remove </i></span>
                            <ul class="category-sub-menu">
                              <li>
                                <a href="24-basic-jackets.html">Basic Jackets</a>
                              </li>
                              <li>
                                <a href="25-real-fur.html">Real Fur</a>
                              </li>
                              <li>
                                <a href="26-down-coats.html">Down Coats</a>
                              </li>
                              <li>
                                <a href="27-blazers.html">Blazers</a>
                              </li>
                              <li>
                                <a href="28-trench-coats.html">Trench Coats</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <div class="pos-menu-col col-xs-6 col-sm-3  ">
                        <ul class="ul-column ">
                          <li class="submenu-item ">
                            <a href="15-weddings-events.html">Weddings &amp; Events</a>
                            <span class="icon-drop-mobile"><i class="material-icons add">add </i><i
                                class="material-icons remove">remove </i></span>
                            <ul class="category-sub-menu">
                              <li>
                                <a href="29-wedding-dresses.html">Wedding Dresses</a>
                              </li>
                              <li>
                                <a href="30-evening-dresses.html">Evening Dresses</a>
                              </li>
                              <li>
                                <a href="31-prom-dresses.html">Prom Dresses</a>
                              </li>
                              <li>
                                <a href="32-bridesmaid-dresses.html">Bridesmaid Dresses</a>
                              </li>
                              <li>
                                <a href="33-wedding-accessories.html">Wedding Accessories</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <div class="pos-menu-col col-xs-6 col-sm-3  ">
                        <ul class="ul-column ">
                          <li class="submenu-item ">
                            <a href="16-bottoms.html">Bottoms</a>
                            <span class="icon-drop-mobile"><i class="material-icons add">add </i><i
                                class="material-icons remove">remove </i></span>
                            <ul class="category-sub-menu">
                              <li>
                                <a href="34-skirts.html">Skirts</a>
                              </li>
                              <li>
                                <a href="35-leggings.html">Leggings</a>
                              </li>
                              <li>
                                <a href="36-pants-capris.html">Pants &amp; Capris</a>
                              </li>
                              <li>
                                <a href="37-wide-leg-pants.html">Wide Leg Pants</a>
                              </li>
                              <li>
                                <a href="38-shorts.html">Shorts</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="pos-menu-row row ">
                      <div class="pos-menu-col col-xs-12 col-sm-4  ">
                        <ul class="ul-column ">
                          <li class="submenu-item ">
                            <a href="#"><img
                                src="http://demo.posthemes.com/pos_ecolife_fashion/img/cms/banner_menu1.jpg"
                                alt="" /></a>
                          </li>
                        </ul>
                      </div>
                      <div class="pos-menu-col col-xs-12 col-sm-4  ">
                        <ul class="ul-column ">
                          <li class="submenu-item ">
                            <a href="#"><img
                                src="http://demo.posthemes.com/pos_ecolife_fashion/img/cms/banner_menu2.jpg"
                                alt="" /></a>
                          </li>
                        </ul>
                      </div>
                      <div class="pos-menu-col col-xs-12 col-sm-4  ">
                        <ul class="ul-column ">
                          <li class="submenu-item ">
                            <a href="#"><img
                                src="http://demo.posthemes.com/pos_ecolife_fashion/img/cms/banner_menu3.jpg"
                                alt="" /></a>
                          </li>
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>
              </li>

              <li class=" menu-item menu-item32  hasChild ">

                <a href="17-tops-sets.html">

                  <span>Tops &amp; Sets</span>
                  <i class="hidden-md-down ion-ios-arrow-down"></i> </a>
                <span class="icon-drop-mobile"><i class="material-icons add">add</i><i
                    class="material-icons remove">remove </i></span>
                <div class="menu-dropdown cat-drop-menu menu_slidedown">
                  <ul class="pos-sub-inner">
                    <li><a href="39-tank-tops.html" class=""><span>Tank Tops</span></a></li>
                    <li><a href="40-suits-sets.html" class=""><span>Suits & Sets</span></a></li>
                    <li><a href="41-jumpsuits.html" class=""><span>Jumpsuits</span></a></li>
                    <li><a href="42-rompers.html" class=""><span>Rompers</span></a></li>
                    <li><a href="43-sleep-lounge.html" class=""><span>Sleep & Lounge</span></a></li>
                  </ul>
                </div>
              </li>

              <li class=" menu-item menu-item33  hasChild ">

                <a href="18-accessories.html">

                  <span>Accessories</span>
                  <i class="hidden-md-down ion-ios-arrow-down"></i> </a>
                <span class="icon-drop-mobile"><i class="material-icons add">add</i><i
                    class="material-icons remove">remove </i></span>
                <div class="menu-dropdown cat-drop-menu menu_slidedown">
                  <ul class="pos-sub-inner">
                    <li><a href="44-eyewear-accessories.html" class=""><span>Eyewear & Accessories</span></a></li>
                    <li><a href="45-hats-caps.html" class=""><span>Hats & Caps</span></a></li>
                    <li><a href="46-belts-cummerbunds.html" class=""><span>Belts & Cummerbunds</span></a></li>
                    <li><a href="47-scarves-wraps.html" class=""><span>Scarves & Wraps</span></a></li>
                    <li><a href="48-gloves-mittens.html" class=""><span>Gloves & Mittens</span></a></li>
                  </ul>
                </div>
              </li>

              <li class=" menu-item menu-item34   ">

                <a href="">

                  <span>About Us</span>
                </a>
              </li>

              <li class=" menu-item menu-item35   ">

                <a href="">

                  <span>Contact us</span>
                </a>
              </li>
              <li class=" menu-item menu-item35   ">

                <a href="/cart">

                  <span>Cart</span>
                </a>
              </li>
              <li class=" menu-item menu-item35   ">

                <a href="/order-list">

                  <span>Order-list</span>
                </a>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>




</header>