<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=KoHo&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Kokoro&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=KoPub+Batang&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Koulen&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/style-user-login.css">
  <link rel="stylesheet" href="/stylesheets/style-otp.css">
  <script src="https://kit.fontawesome.com/42ff1a9e80.js" crossorigin="anonymous"></script>
  <title>{{title}}</title>

  {{!-- This is for the User --}}
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="Shop powered by PrestaShop">
  <meta name="keywords" content="">

  <link rel="alternate" href="" hreflang="en-us">
  <link rel="alternate" href="" hreflang="fr-fr">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/vnd.microsoft.icon" href="/Logo/spark.svg">
  <link rel="shortcut icon" type="image/x-icon" href="/Logo/spark.svg">
  {{#if admin}}
  <link rel="stylesheet" href="/stylesheets/admin.css">
  <link rel="stylesheet" href="/richtexteditor/rte_theme_default.css" />

  {{else}}
  <link href="https://fonts.googleapis.com/css2?family=Prata&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;display=swap&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
    type="text/css" media="all">
  <link rel="stylesheet"
    href="http://demo.posthemes.com/pos_ecolife_fashion/themes/theme_ecolife_fashion1/assets/cache/theme-2a000015.css"
    type="text/css" media="all">
  {{/if}}

  <script type="text/javascript">
    var POS_HOME_PRODUCTTAB_ITEMS = 4;
    var POS_HOME_PRODUCTTAB_LIMIT = 12;
    var POS_HOME_PRODUCTTAB_NAV = true;
    var POS_HOME_PRODUCTTAB_PAGINATION = false;
    var POS_HOME_PRODUCTTAB_SPEED = 1000;
    var id_lang = 1;
    var poscompare = { "nbProducts": 0, "IdProducts": null };
    var possearch_image = 1;
    var possearch_number = 10;
    var prestashop = { "cart": { "products": [], "totals": { "total": { "type": "total", "label": "Total", "amount": 0, "value": "$0.00" }, "total_including_tax": { "type": "total", "label": "Total (tax incl.)", "amount": 0, "value": "$0.00" }, "total_excluding_tax": { "type": "total", "label": "Total (tax excl.)", "amount": 0, "value": "$0.00" } }, "subtotals": { "products": { "type": "products", "label": "Subtotal", "amount": 0, "value": "$0.00" }, "discounts": null, "shipping": { "type": "shipping", "label": "Shipping", "amount": 0, "value": "Free" }, "tax": { "type": "tax", "label": "Taxes", "amount": 0, "value": "$0.00" } }, "products_count": 0, "summary_string": "0 items", "vouchers": { "allowed": 0, "added": [] }, "discounts": [], "minimalPurchase": 0, "minimalPurchaseRequired": "" }, "currency": { "name": "US Dollar", "iso_code": "USD", "iso_code_num": "840", "sign": "$" }, "customer": { "lastname": null, "firstname": null, "email": null, "birthday": null, "newsletter": null, "newsletter_date_add": null, "optin": null, "website": null, "company": null, "siret": null, "ape": null, "is_logged": false, "gender": { "type": null, "name": null }, "addresses": [] }, "language": { "name": "English (English)", "iso_code": "en", "locale": "en-US", "language_code": "en-us", "is_rtl": "0", "date_format_lite": "m\/d\/Y", "date_format_full": "m\/d\/Y H:i:s", "id": 1 }, "page": { "title": "", "canonical": null, "meta": { "title": "Ecolife  Responsive Prestashop Theme", "description": "Shop powered by PrestaShop", "keywords": "", "robots": "index" }, "page_name": "index", "body_classes": { "lang-en": true, "lang-rtl": false, "country-US": true, "currency-USD": true, "layout-full-width": true, "page-index": true, "tax-display-disabled": true }, "admin_notifications": [] }, "shop": { "name": "Ecolife  Responsive Prestashop Theme", "logo": "\/pos_ecolife_fashion\/img\/ecolife-fashion1-logo-15973895151.jpg", "stores_icon": "\/pos_ecolife_fashion\/img\/logo_stores.png", "favicon": "\/pos_ecolife_fashion\/img\/favicon.ico" }, "urls": { "base_url": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/", "current_url": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/", "shop_domain_url": "http:\/\/demo.posthemes.com", "img_ps_url": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/img\/", "img_cat_url": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/img\/c\/", "img_lang_url": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/img\/l\/", "img_prod_url": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/img\/p\/", "img_manu_url": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/img\/m\/", "img_sup_url": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/img\/su\/", "img_ship_url": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/img\/s\/", "img_store_url": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/img\/st\/", "img_col_url": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/img\/co\/", "img_url": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/themes\/theme_ecolife_fashion1\/assets\/img\/", "css_url": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/themes\/theme_ecolife_fashion1\/assets\/css\/", "js_url": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/themes\/theme_ecolife_fashion1\/assets\/js\/", "pic_url": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/upload\/", "pages": { "address": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/address", "addresses": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/addresses", "authentication": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/login", "cart": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/cart", "category": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/index.php?controller=category", "cms": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/index.php?controller=cms", "contact": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/contact-us", "discount": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/discount", "guest_tracking": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/guest-tracking", "history": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/order-history", "identity": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/identity", "index": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/", "my_account": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/my-account", "order_confirmation": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/order-confirmation", "order_detail": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/index.php?controller=order-detail", "order_follow": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/order-follow", "order": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/order", "order_return": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/index.php?controller=order-return", "order_slip": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/credit-slip", "pagenotfound": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/page-not-found", "password": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/password-recovery", "pdf_invoice": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/index.php?controller=pdf-invoice", "pdf_order_return": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/index.php?controller=pdf-order-return", "pdf_order_slip": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/index.php?controller=pdf-order-slip", "prices_drop": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/prices-drop", "product": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/index.php?controller=product", "search": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/search", "sitemap": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/sitemap", "stores": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/stores", "supplier": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/supplier", "register": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/login?create_account=1", "order_login": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/order?login=1" }, "alternative_langs": { "en-us": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/", "fr-fr": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/fr\/" }, "theme_assets": "\/pos_ecolife_fashion\/themes\/theme_ecolife_fashion1\/assets\/", "actions": { "logout": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/?mylogout=" }, "no_picture_image": { "bySize": { "small_default": { "url": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/img\/p\/en-default-small_default.jpg", "width": 98, "height": 98 }, "cart_default": { "url": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/img\/p\/en-default-cart_default.jpg", "width": 125, "height": 125 }, "home_default": { "url": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/img\/p\/en-default-home_default.jpg", "width": 360, "height": 360 }, "medium_default": { "url": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/img\/p\/en-default-medium_default.jpg", "width": 452, "height": 452 }, "large_default": { "url": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/img\/p\/en-default-large_default.jpg", "width": 800, "height": 800 } }, "small": { "url": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/img\/p\/en-default-small_default.jpg", "width": 98, "height": 98 }, "medium": { "url": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/img\/p\/en-default-home_default.jpg", "width": 360, "height": 360 }, "large": { "url": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/img\/p\/en-default-large_default.jpg", "width": 800, "height": 800 }, "legend": "" } }, "configuration": { "display_taxes_label": false, "display_prices_tax_incl": false, "is_catalog": false, "show_prices": true, "opt_in": { "partner": true }, "quantity_discount": { "type": "discount", "label": "Discount" }, "voucher_enabled": 0, "return_enabled": 0 }, "field_required": [], "breadcrumb": { "links": [{ "title": "Home", "url": "http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/" }], "count": 1 }, "link": { "protocol_link": "http:\/\/", "protocol_content": "http:\/\/" }, "time": 1652241313, "static_token": "203b2fb46b107eabda9dd64ae8ebc173", "token": "e35f34309f0022544153a332c8023eaa" };
    var xip_base_dir = "index.html\/\/demo.posthemes.com\/pos_ecolife_fashion\/";
  </script>
  <style type="text/css">
    .animation8 {
      -webkit-transition-duration: 500ms !important;
      -moz-transition-duration: 500ms !important;
      -o-transition-duration: 500ms !important;
      transition-duration: 500ms !important;
    }
  </style>
  {{!-- This is for the end--}}
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>

<body>
  {{#if adminlogin}}
  {{>admin-login-header}}
  {{else}}
  {{#if admin}}
  {{admin-header}}
  {{else}}
  {{#if login}}
  {{>user-login-header}}
  {{else}}
  {{>user-header}}
  {{/if}}
  {{/if}}
  {{/if}}
  {{{body}}}



  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
  <script src="/javascripts/ajax.js"></script>
</body>

</html>